p.caption > .caption-text {
  font-size: 50%;
  font-weight: normal;
  line-height: 0;
}

p.caption {
  text-align: center;
}

table {
  width:600;
  table-layout:fixed;
}


td {
  word-wrap:break-word;
}

.admonition {
  margin-top: 20px;
  margin-bottom: 30px;
}
